:root{
    --primary : rgb(255, 217, 0);
}

.btn{
    
    padding:8px 20px;
    border-radius:2px;
    outline: none;
    border: none;
    cursor:pointer;
}

.btn--primary
{
    
    background-color:var(--primary);
    color:#242424;
    border:1px solid var(--primary);
}

.btn--outline
{
    
    border-radius: 30px;
    background-color:transparent;
    color:rgb(255, 217, 0);
    padding:8px 20px;
    border:2px solid var(--primary);
    transition :all 0.3s ease-out;

    
}
.btn--medium{
    
    padding: 8px 20px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 100;
    letter-spacing: 3px;
}

.btn--large{
    
    padding:12px 26px;
    font-size:20px;
}

.btn--medium:hover,
.btn--large:hover
{
    background:rgb(255, 217, 0);
    color:rgb(0, 0, 0);
    transition:all 0.3s ease-out;
}