.cards 
{
    padding: 4rem;
    background: #fff;
  }
  
  h1
   {
    text-align: center;
  }
  
  .cards__container 
  {

    margin: 0 auto;
  }
 
  
  .cards__items 
  {
    margin-bottom: 24px;
  }
  .cards__item 
  {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .cards__item__link 
  {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.77);
   
    background: linear-gradient(0.1turn, #000000, #292929);
    
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  .cards__item__color
  {
    background-color: #64ffda;
    background: linear-gradient(0.4turn, #64ffda, #64ff8d);
  }
  .cards__item__pic-wrap
   {
  
   
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
   
    animation-name: fade-img;
    animation-duration: 2s;
  }
  

  .cards__item__img
   {
    transform: scale(1.1);
      mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;

    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover 
  {
    transform: scale(1.2);
  }
  
  .cards__item__info
   {
  
    padding: 20px 30px 30px;
  }
  .cards__item__information 
  {
    text-align: left;
    color: #ffffff;
    font-size: 14px;
  }
  .cards__item__text
   {
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 24px;
  }

  .cards__item__icon__container 
  {
    display:flex;
    flex-flow: left;
  }

  .fa-github
  {
    margin-top: 30px;
    color: white;
    font-size: 30px;
  }






  
  @media only screen and (min-width: 700px) 
  {
    .content__blog__container 
    {
      width: 80%;
    }
  }
  
  @media only screen and (min-width: 700px)
   {
    .cards__items
     {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px)
   {
    .cards__item 
    {
      margin-bottom: 2rem;
    }
  }