.SideBar
{
    display: flex;
    overflow-y: hidden;
    width:60%;

   
    margin: 0%;
    position:absolute;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.Projects
{
    width:70%;

}
.landingContainer
{
  
    overflow-y: hidden;
    background-color: black;
}
.RenderWindow
{
    display: flex;
   
    overflow-y: hidden;
    position:relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(128, 128, 128, 0);
}

.render-blank
{
    justify-content: center;
    align-items: center;
    text-align: center;
  
    display:flex;

    background: linear-gradient(0.4turn, #0c0c0c, #292929);
}


.RenderProjects
{
    display: flex;
   
    overflow-y: hidden;
 
    justify-content: center;
    align-items: center;
    text-align: center;
   
    background-color: rgba(128, 128, 128, 0);

    height:300%;
    
}
