.SideBar
{
    display: flex;
    overflow-y: hidden;
    width:80%;

   
    margin: 0%;
    position:absolute;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.Projects
{
    display:grid;
    
    overflow-y: hidden;
    position:absolute;
    justify-content: center;
    align-content: center;
    width: 80%;

}
.landingContainer
{
    overflow-y: hidden;
    background-color: black;
}
.RenderWindow
{
    display: flex;
   
    overflow-y: hidden;
    position:relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: rgba(128, 128, 128, 0);

    
}

.render-blank
{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    display:flex;
    height: 250vh;
    background-color: rgb(19, 19, 19);
}


.RenderProjects
{
    display: flex;
   
    overflow-y: hidden;
 
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: rgba(128, 128, 128, 0);
    width:100%;
    height:300%;
    
}
@media screen and (max-width: 960px) 
{

}