.SideBar
{
    width:fit-content;
    height:fit-content;

    flex-wrap: wrap;
    position:absolute;
    justify-content: center;
    align-items: center;
}

.landingContainer
{
    display:flex;
    justify-content: center;
    align-items: center;
}

