
.Title-heading
{
    font-size:60px;

    font-weight: bold;
    color:rgba(255, 255, 255, 0.876);
    letter-spacing: 20px;
    line-height: 0.9em;
}
.Title-subtext
{
    align-self: center;
    margin-top: 10px;
    font-size: 12px;

    color:white;
    width: 100%;
}

@media screen and (max-width: 960px) 
{
    .Title-subtext
    {
        position: relative;
        width: 100%;
    }
}


.fa-mouse {

    font-size: 1rem;
}
