.Title-colored
{
    color: rgb(255, 123, 0);
    font-size:16px;
    font-weight: 500;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 4px;
}
.Title-heading
{
    overflow-y: hidden;
    font-size:60px;
    font-family: Roboto;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.876);
    letter-spacing: 0px;
    line-height: 0.9em;
}
.Title-SubHeading
{
    overflow-y: hidden;
    font-size:14px;
    font-family: Calibri;
   
    color:rgba(255, 255, 255, 0.644);
    margin-top: 10px;
    letter-spacing: 1px;
    line-height: 0.9em;
}
.Title-subtext
{
    overflow-y: hidden;
    align-self: center;
    margin-top: 30px;
    font-size: 15px;
    font-family:Calibri;
    font-weight:500;
    color:white;
    width: 50%;
    line-height: 1.5em;
}

@media screen and (max-width: 960px) 
{
    .Title-subtext
    {
        position: relative;
        width: 100%;
    }
}


.fa-mouse {

    font-size: 1rem;
}
