.SideBar
{
    display: flex;
    overflow-y: hidden;
    width: 90%;

   
    margin: 0%;
    position:absolute;
    justify-content: center;
    align-content: center;
    text-align: left;
}
.Projects
{
    display:grid;

    overflow-y: hidden;
    position:absolute;
    justify-content: center;
    align-content: center;
    width: 80%;

}
.landingContainer
{
    overflow-y: hidden;
    background-color: black;
}
.RenderWindow
{
    display: flex;
   
    overflow-y: hidden;
    position:relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: rgba(128, 128, 128, 0);
    width:100%;
    
}
.RenderProjects
{
    display: flex;
   
    overflow-y: hidden;
    position:relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: rgba(128, 128, 128, 0);
    width:100%;
    height:300%;
    
}
@media screen and (max-width: 960px) 
{

}